h1=title
video(id='camera', autoplay)
//video(id='other')
canvas(id='stream')
button(onclick='start()')
script
  var socket = io.connect('/cast');
  var canvas = document.getElementById('stream');
  var context = canvas.getContext('2d');
  var camera = document.getElementById('camera');
  var image;
  var first = true;
  function start(){
    navigator.webkitGetUserMedia({video:true}, stream); 
    setInterval(frame,33);
  }
  function stream(stream){
    camera.src = webkitURL.createObjectURL(stream);
  }
  function frame(){
        context.drawImage(camera, 0, 0, canvas.width, canvas.height);
        image = canvas.toDataURL("image/png");
        socket.emit('frame',image); 
  }
  socket.on('reload',function(){if(first){first=false;}else{location.reload()}});
  
